body {
    background-color: rgb(128, 255, 0);
    font-family: sans-serif;
}

header {
    border: 5px;
    border-radius: 20px;
    background-color: rgb();
    box-shadow: -1px 2px 17px 10px rgba(0, 0, 0, 0.45);
    margin: 50px;
    text-align: center;
    
}

nav{
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #23dbdb;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
  section{
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  
#list1 {
    position: absolute;
}

#list2 {
    position: relative;
    left: 100px;
}

.main {
    margin: auto;
    width: 60%;
    border: 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.952);
    box-shadow: -1px 2px 17px 10px rgba(0, 0, 0, 0.45);
    text-align: center;
}

.posts {
    border: 2px;
    border-radius: 20px;
    border-style: groove;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    height: auto;
}

.posts p {
    text-align: justify;
    padding: 30px;
}

.parts {
    width:100%;
    background: gray;
    list-style: circle;
}

.parts li a {
    padding:10px 20px;
    display:inline-block;
}

.parts li a:hover {
    background:#ccc;
    color:#000;
}

table {
  border:1px solid #000;
  background-color: brown;
}

table td {
  border:1px solid #000;
  background-color: burlywood;
}

table tr:hover {
  background-color: #ccc;
}

table td:hover {
  background-color:#000;
  color:#fff;
}

form {
  width:95%;
  border:5px solid #ccc;
  margin:15px;
  padding:15px;
}

input:focus {
  border:1px solid #1668C4;
}

input[type="submit"] {
  margin-bottom:0;
  background:#1668C4;
  color:#fff;
  border:#000;
}

input[type="submit"]:hover {
  background:#4A88F4;
}